/* Add CSS Styling */
.odd{
    background-color: #f7c3c3;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}
.font{
    font-size: 24px;
}
#two{
    color: #0000ff;
    font-size: 36px;
}
#four{
    background-color: #bbf7ab;
    font-size: 24px;
    font-weight: bold;
}