/* Add CSS Styling */
.font-style{
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}
.first{
    background-color: rgb(0,0,0);
    color: white;
    font-weight: bold;
}
.second{
    background-color: yellow;
}
/* Can also just do .first, .second
    to adjust both elements w/o making a 3rd class. */